*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
  }

  .description{
      min-height: 20vh;
      /*unless u want it to be row */
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .game{
      min-height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }

.level-two{
    display: none;
}

.ui-level{
    font-size: 3rem;
}

.ui-message{
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.spooky-picture{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}