*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
  }

  .description{
      min-height: 20vh;
      /*unless u want it to be row */
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .game{
      min-height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }

.level-two{
    display: none;
}

.ui-level{
    font-size: 3rem;
}

.ui-message{
    font-size: 1.5rem;
    padding: 1.2rem 0rem;
}

.spooky-picture{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.next-button{
    border: none;
    background-color: rgb(19, 19, 143);
    color: rgb(218, 216, 216);
    padding: 1rem 3rem;
    border-radius: 1.2rem;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    transition: opacity 0.5s ease;
}